/* You can add global styles to this file, and also import other style files */
.btn-success {
    padding: 10px 15px; /* Ajuster l'espace intérieur */
  margin-top: 10px;   /* Espace au-dessus */
  margin-bottom: 10px;/* Espace en dessous */
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px;       /* Augmente la taille de la police */
  }
  
  .card-body {
    padding: 20px; /* Augmente le padding autour du contenu de la carte */
  }
